.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
   }
   .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
   }
   .button
   {
    position: fixed;
    right: 5%;
    background-color: #ff6f61;
    border-color: transparent;
    color: #fff;
    z-index: 10000;
    bottom: 10%;
    font-size: 24px;
    line-height: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    width: 44px;
    height: 44px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
   }
   .button:hover{
       background-color: #fc887e;
   }
   .button i
   {
       font-size:20px;
   }